code
[{"id":"67ffb50.b7ac0cc","type":"mqtt out","z":"44684d0a.20204c","name":"","topic":"SendToMobile","qos":"0","retain":"","broker":"96e51003.e7be78","x":433,"y":115,"wires":[]},{"id":"abc95ef9.42a6a","type":"inject","z":"44684d0a.20204c","name":"","topic":"","payload":"Hello Mobile","payloadType":"str","repeat":"","crontab":"","once":false,"x":145,"y":115,"wires":[["67ffb50.b7ac0cc"]]},{"id":"3aa744a1.63a974","type":"mqtt in","z":"44684d0a.20204c","name":"","topic":"SendToMobile","qos":"1","broker":"96e51003.e7be78","x":140,"y":264,"wires":[["c4be03a6.5e4cb"]]},{"id":"c4be03a6.5e4cb","type":"rpi-gpio out","z":"44684d0a.20204c","name":"LED","pin":"40","set":"","level":"0","out":"out","x":464,"y":263,"wires":[]},{"id":"96e51003.e7be78","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
